<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <p>THIS IS THE HOMEPAGE EJS!</p>    
    <p>Eventually, I will want a nice welcoming page here that will show some sponsored events, fixed number of events fro today and also any special offers that are time limited</p>
    <form action="/events/add" method="post">
        <input type="text" name="title" id="title">
        <input type="text" name="description" id="description">
        <button type="submit">new event</button>
    </form>

    

</body>
</html>