<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/form.js" defer></script>
</head>
<body>
    <p>THIS IS THE HOMEPAGE EJS!</p>    
    <p>Eventually, I will want a nice welcoming page here that will show some sponsored events, fixed number of events for today and also any special offers that are time limited</p>
    <form action="/events/add" method="post">
        <input type="text" name="title" id="title" placeholder="Enter a title for the event">
        <textarea name="description" id="description" rows="10" placeholder="Enter a description of your event"></textarea>
        <input type="date" name="date" id="date" placeholder="Enter the date" required>
        <!-- <select name="month" id="month" class="month">
            <option>Select Month</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
        </select> -->
        <input type="time" name="time" id="time" required>
        <button type="submit">Submit Event</button>
    </form>
    <a href="/events">See Events</a>

    

</body>
</html>