<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The event</title>
</head>
<body>
    <h1><%= event.title %></h1>
    <p><%- event.description %></p>
    <p><%= date %></p>

    <a href="../events">Back to events</a>
</body>
</html>